<ul>
  <% messages.each do |message| %>
    <li><%= message.content %></li>
  <% end %>
</ul>

<% if Current.user %>
  <%= form_with model: message do |form| %>
    <%= form.label :content %>
    <%= form.rich_text_area :content, aria: {
      describedby: form.validation_message_id(:content),
    } %>
    <%= form.validation_message :content do |errors, tag| %>
      <%= tag.span errors.to_sentence %>
    <% end %>

    <%= form.button %>
  <% end %>

  <%= button_to authentication_path, method: :delete do %>
    Log out
  <% end %>
<% else %>
  <%= link_to new_authentication_path do %>
    Log in to send a message
  <% end %>
<% end %>
