<ul>
  <% messages.each do |message| %>
    <li><%= message.content %></li>
  <% end %>
</ul>

<% if Current.user %>
  <%= form_with model: message do |form| %>
    <% form.errors(:content) do |errors| %>
      <%= form.label :content %>
      <%= form.rich_text_area :content, aria: {
        describedby: {form.field_id(:content, :validation_message) => errors.any?},
      } %>
      <% if errors.any? %>
        <%= tag.span errors.to_sentence, id: form.field_id(:content, :validation_message) %>
      <% end %>
    <% end %>

    <%= form.button %>
  <% end %>

  <%= button_to authentication_path, method: :delete do %>
    Log out
  <% end %>
<% else %>
  <%= link_to new_authentication_path do %>
    Log in to send a message
  <% end %>
<% end %>
