<ul>
  <% messages.each do |message| %>
    <li><%= message.content %></li>
  <% end %>
</ul>

<%= form_with model: message do |form| %>
  <% form.object.errors[:content].tap do |errors| %>
    <%= form.label :content %>
    <%= form.rich_text_area :content, aria: {
      describedby: {message_content_validation_message: errors.any?},
      invalid: errors.any?
    } %>
    <% if errors.any? %>
      <%= tag.span errors.to_sentence, id: :message_content_validation_message %>
    <% end %>
  <% end %>

  <%= form.button %>
<% end %>
